.wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.parallelLabel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.parallelLabel:hover {
    cursor: pointer;
}

.parallelLabel p {
    margin: 0;
}

.checkboxInput {
    display: none;
}

.checkboxImage {
    width: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 350px;
    margin-bottom: 40px;
}

.labelText {
    margin: 0 0 10px;
    font-size: 30px;
}

.input {
    font-size: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.button {
    background-color: lightblue;
    border: 1px solid darkblue;
    font-size: 30px;
    border-radius: 50px;
    padding: 10px 0;
}

.button:hover {
    cursor: pointer;
}

.error {
    margin: 0;
    color: red;
    font-size: 30px;
}